build_cst/build_cst
build_cst/cmdline.c
build_cst/cmdline.h
build_cst/config.h
build_msa_index/build_msa_index
build_msa_index/cmdline.c
build_msa_index/cmdline.h
build_msa_index/config.h
build_sa/build_sa
build_sa/cmdline.c
build_sa/cmdline.h
build_sa/config.h
find_founder_block_boundaries/cmdline.c
find_founder_block_boundaries/cmdline.h
find_founder_block_boundaries/config.h
find_founder_block_boundaries/find_founder_block_boundaries
int_vector_tool/cmdline.c
int_vector_tool/cmdline.h
int_vector_tool/config.h
int_vector_tool/int_vector_tool
msa_index_cmp/cmdline.c
msa_index_cmp/cmdline.h
msa_index_cmp/config.h
msa_index_cmp/msa_index_cmp
tests/tests


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Coverage
*.gcda
*.gcno

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
