build_cst/build_cst
build_cst/cmdline.c
build_cst/cmdline.h
build_cst/config.h
build_founder_graph_index/build_founder_graph_index
build_founder_graph_index/cmdline.c
build_founder_graph_index/cmdline.h
build_founder_graph_index/config.h
build_msa_index/build_msa_index
build_msa_index/cmdline.c
build_msa_index/cmdline.h
build_msa_index/config.h
build_sa/build_sa
build_sa/cmdline.c
build_sa/cmdline.h
build_sa/config.h
find_founder_block_boundaries/cmdline.c
find_founder_block_boundaries/cmdline.h
find_founder_block_boundaries/config.h
find_founder_block_boundaries/find_founder_block_boundaries
find_in_graph/cmdline.c
find_in_graph/cmdline.h
find_in_graph/config.h
find_in_graph/find_in_graph
founder_block_tool/cmdline.c
founder_block_tool/cmdline.h
founder_block_tool/config.h
founder_block_tool/founder_block_tool
founder_graph_tool/cmdline.c
founder_graph_tool/cmdline.h
founder_graph_tool/config.h
founder_graph_tool/founder_graph_tool
inspect_block_graph/cmdline.c
inspect_block_graph/cmdline.h
inspect_block_graph/config.h
inspect_block_graph/inspect_block_graph
int_vector_tool/cmdline.c
int_vector_tool/cmdline.h
int_vector_tool/config.h
int_vector_tool/int_vector_tool
msa_index_cmp/cmdline.c
msa_index_cmp/cmdline.h
msa_index_cmp/config.h
msa_index_cmp/msa_index_cmp
optimize_segmentation/cmdline.c
optimize_segmentation/cmdline.h
optimize_segmentation/config.h
optimize_segmentation/optimize_segmentation
remove_byte_ranges/cmdline.c
remove_byte_ranges/cmdline.h
remove_byte_ranges/config.h
remove_byte_ranges/remove_byte_ranges
tests/tests


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Coverage
*.gcda
*.gcno

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
